# Build results
bin/
obj/
Debug/
Release/
[Bb]uild/
x64/
x86/

# Visual Studio files
*.user
*.suo
*.userosscache
*.sln.docstates
*.vs/

# NuGet
*.nupkg
*.snupkg
packages/
*.nuspec
project.lock.json
project.fragment.lock.json

# IIS / Web
*.vspscc
*.vssscc
*.pdb
*.cache
*.dbmdl
*.bak
*.ldf
*.mdf

# Logs
*.log

# Publish
publish/
App_Data/

# Resharper / Rider / JetBrains
_ReSharper*/
*.DotSettings.user
.idea/

# Others
Thumbs.db
Desktop.ini
