@{
    ViewBag.Title = "Home Page";
}

<h1 class="pt-5 pb-3">Lista de Habitaciones</h1>

<div id="IdTabla"></div>

<script src="~/Scripts/Js/generic.js"></script>
<script src="~/Scripts/Js/Habitacion.js"></script>
<script>
    var UrlListar = '@Url.Action("ListaHabitaciones","Home")'; 
    var UrlSearch = '@Url.Action("FiltrarHabitaciones", "Home")';
</script>
