
@{
    ViewBag.Title = "Usuarios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="mt-4">Usuarios</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Resumen</a></li>
    <li class="breadcrumb-item active">usuarios</li>
</ol>

<div class="card">
    <div class="card-header">
        <i class="fas fa-users me-1"></i> Lista de usuarios
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <button type="button" class="btn btn-success" onclick="abrirModal(null)">Crear nuevo usuario</button>
            </div>
        </div>

        <hr />

        <table id="tabla" class="display cell-border" style="width: 100%">
            <thead class="bg-dark text-white">
                <tr>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>Correo</th>
                    <th>Activo</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="FormModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <h5 class="modal-title" id="exampleModalLabel">Usuario</h5>
                <button type="button" style="border: none" class="btn-close-white bg-transparent h3" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <input id="txtid" type="hidden" value=0/>

                <div class="row">
                    <div class="col-sm-6">
                        <label for="txtNombres" class="form-label">Nombres</label>
                        <input type="text" id="txtNombres" class="form-control" />
                    </div>

                    <div class="col-sm-6">
                        <label for="txtApellidos" class="form-label">Apellidos</label>
                        <input type="text" id="txtApellidos" class="form-control" />
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <label for="txtCorreo" class="form-label">Correo</label>
                        <input type="text" id="txtCorreo" class="form-control" />
                    </div>

                    <div class="col-sm-6">
                        <label class="form-label">Activo</label>
                        <select id="cboactivo" class="form-select">
                            <option value="1">Si</option>
                            <option value="0">No</option>
                        </select>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" onclick="Guardar()">Guardar</button>
            </div>
        </div>
    </div>
</div>


@section scripts {
    <script>
        var tabladata;
        $(document).ready(function () {
          tabladata =  $('#tabla').DataTable({
                responsive: true,
                ordering: false,

                ajax: {
                    url: '@Url.Action("ListarUsuario", "Home")',
                    dataSrc: 'data'
                },

                columns: [
                    { data: 'Nombres' },
                    { data: 'Apellidos' },
                    { data: 'Correo' },
                    {
                        data: 'Activo',
                        render: function (data) {
                            return data ? '<span class="badge bg-success">Sí</span>'
                                : '<span class="badge bg-danger">No</span>';
                        },
                        "orderable": false,
                        "searchable": false,
                        "width": "30px"
                    },
                    {
                        "defaultContent": '<button type="button" class="btn btn-primary btn-sm btn-editar"><i class="fas fa-pen"></i></button>' +
                            '<button type="button" class="btn btn-danger btn-sm ms-2"><i class="fas fa-trash"></i></button>',
                        "orderable": false,
                        "searchable": false,
                        "width": "90px"
                    },
                ],
                language: {
                    url: '//cdn.datatables.net/plug-ins/2.3.3/i18n/es-ES.json',
                    emptyTable: "No hay datos disponibles",
                    loadingRecords: "Cargando datos..."
                },

            });
        });

        function abrirModal(json) {

            $("#txtid").val(0);
            $("#txtNombres").val("");
            $("#txtApellidos").val("");
            $("#txtCorreo").val("");
            $("#cboactivo").val(1);

            if (json != null) {
                $("#txtid").val(json.IdUsuario);
                $("#txtNombres").val(json.Nombres);
                $("#txtApellidos").val(json.Apellidos);
                $("#txtCorreo").val(json.Correo);
                $("#cboactivo").val((json.Activo == true || json.Activo == 1 || json.Activo =="1") ? 1 : 0);
            }

            $('#FormModal').modal("show")
        }

        $("#tabla tbody").on("click", ".btn-editar", function () {
            var filaSeleccionada = $(this).closest("tr");
            var data = tabladata.row(filaSeleccionada).data();

            abrirModal(data)
        })

        function Guardar() {
            var Usuario = {
                IdUsuario: $("#txtid").val(),
                Nombres: $("#txtNombres").val(),
                Apellidos: $("#txtApellidos").val(),
                Correo: $("#txtCorreo").val(),
                Activo: $("#cboactivo").val() == 1 ? true : false
            }

            if (Usuario.IdUsuario == 0) {
                tabladata.row.add(Usuario).draw(false)
            } else {
                alert("Editar usuaio");
            }

            $('#FormModal').modal("hide")
        }
    </script>
}