
<h1 class="pt-5 pb-3">Lista de Camas</h1>

<div id="IdTablaCamas"></div>

<script src="~/Scripts/Js/generic.js"></script>
<script src="~/Scripts/Js/Camas.js"></script>

<script>
    var UrlLista = '@Url.Action("ListaCamas", "Cama")';
    var UrlSearch = '@Url.Action("FiltrarCamas", "Cama")';
</script>