
<h1 class="pt-5 pb-3">Lista de Camas</h1>

<div id="IdTablaCamas"></div>




<script>
    window.onload = function () {
        listarHabitaciones();
    }
    function listarHabitaciones() {
        Pintar({
            url: '@Url.Action("ListaCamas", "Cama")',
            cabeceras: ['Id', 'Tipo', 'Descripcion'],
            Datos: ['Id', 'Nombre', 'Descripcion'],
            Id: 'IdTablaCamas'
        });
    }
</script>
<script src="~/Scripts/generic.js"></script>

